* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.website {
  width: 100%;
  overflow: hidden;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: white;
}

.bbcAccount {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 15vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.bbcAccount:hover {
  border-bottom: 4px solid #1188bb;
}

.bbcAccount p {
  font-size: 15px;
  font-weight: bold;
  margin-left: 6px;
}

.profileIcon {
  width: 30px;
  height: 30px;
}

.sections a {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-left: 1px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.sections .more {
  padding-right: 7vw;
  border-right: 1px solid black;
}

.bbcLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2vw;
}

.bbcIcon {
  width: 100px;
  height: 30px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.searchBar {
  background-color: #e4e4e4;
  border: none;
  padding: 5px;
}

.searchButton {
  background-color: #e4e4e4;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  height: 15px;
  width: 15px;
}

.home:hover {
  border-bottom: 4px solid black;
}

.news:hover {
  border-bottom: 4px solid #bb1919;
}

.sport:hover {
  border-bottom: 4px solid #ffd230;
}

.reel:hover {
  border-bottom: 4px solid #0068ff;
}

.worklife:hover {
  border-bottom: 4px solid #0052a1;
}

.travel:hover {
  border-bottom: 4px solid #589e50;
}

.future:hover {
  border-bottom: 4px solid #002856;
}

.culture:hover {
  border-bottom: 4px solid #482878;
}

.more:hover {
  border-bottom: 4px solid #262626;
}

.newsHeading {
  background-color: #bb1919;
  height: 10vh;
  display: flex;
  align-items: center;
}

.newsHeading h1 {
  color: white;
  padding-left: 6.5vw;
  font-size: 50px;
  font-weight: 100;
}

.newsNavbar {
  background-color: #bb1919;
  height: 4vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newSections .newHome,
.newSections .coronavirus,
.newSections .video,
.newSections .world,
.newSections .uk,
.newSections .business,
.newSections .tech,
.newSections .science,
.newSections .stories,
.newSections .entertainmentAndArts,
.newSections .health,
.newSections .worldNewsTV,
.newSections .inPictures,
.newSections .realityCheck,
.newSections .newMore {
  text-decoration: none;
  color: white;
  padding-left: 13.5px;
  padding-right: 13.5px;
  align-items: center;
  border-right: 0.5px solid #f5dcdc;
}

.newSections .newHome,
.newSections .coronavirus:hover,
.newSections .video:hover,
.newSections .world:hover,
.newSections .uk:hover,
.newSections .business:hover,
.newSections .tech:hover,
.newSections .science:hover,
.newSections .stories:hover,
.newSections .entertainmentAndArts:hover,
.newSections .health:hover,
.newSections .worldNewsTV:hover,
.newSections .inPictures:hover,
.newSections .realityCheck:hover,
.newSections .newMore:hover {
  border-bottom: 7px solid white;
}

.mainHeadlines {
  width: 90vw;
  height: 90vh;
  position: relative;
  margin-top: 20px;
  margin-left: 95px;
  margin-right: 95px;
  overflow: hidden;
}

.mainHeadlines .firstHeadline {
  /* background-color: grey; */
  width: 50vw;
  display: flex;
}

.mainHeadlines .firstHeadline a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.mainHeadlines .firstHeadline a:hover {
  text-decoration: underline;
  color: #1380a1;
}

.mainHeadlines .firstHeadline p {
  color: #5a5a5a;
  padding-top: 10px;
}

.mainHeadlines .firstHeadline img {
  width: 400px;
  height: auto;
  padding-left: 50px;
}

.mainHeadlines .secondHeadline {
  /* background: grey; */
  display: flex;
  width: 300px;
  flex-direction: column;
  position: absolute;
  left: 52vw;
  top: 0vw;
}

.mainHeadlines .secondHeadline img {
  width: 300px;
  height: auto;
  padding-bottom: 10px;
}

.mainHeadlines .secondHeadline a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.mainHeadlines .secondHeadline a:hover {
  text-decoration: underline;
  color: #1380a1;
}

.mainHeadlines .secondHeadline p {
  padding-top: 10px;
  color: #5a5a5a;
}

.mainHeadlines .thirdHeadline {
  width: 250px;
  position: absolute;
  left: 73vw;
  top: 0vh;
}

.mainHeadlines .thirdHeadline img {
  width: 260px;
  height: auto;
  padding-bottom: 10px;
}

.mainHeadlines .thirdHeadline a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.mainHeadlines .thirdHeadline a:hover {
  text-decoration: underline;
  color: #1380a1;
}

.mainHeadlines .thirdHeadline p {
  padding-top: 10px;
  color: #5a5a5a;
}

.mainHeadlines .fourthHeadline {
  width: 250px;
  position: absolute;
  top: 40vh;
}

.mainHeadlines .fourthHeadline img {
  width: 250px;
  height: auto;
  padding-bottom: 10px;
}

.mainHeadlines .fourthHeadline a {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.mainHeadlines .fourthHeadline a:hover {
  text-decoration: underline;
  color: #1380a1;
}

.mainHeadlines .fourthHeadline p {
  padding-top: 10px;
  color: #5a5a5a;
}

.mainHeadlines .fifthHeadline {
  position: absolute;
  width: 250px;
  top: 40vh;
  left: 18vw;
}

.mainHeadlines .fifthHeadline img {
  width: 250px;
  height: auto;
  padding-bottom: 10px;
}

.mainHeadlines .fifthHeadline a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.mainHeadlines .fifthHeadline a:hover {
  text-decoration: underline;
  color: #1380a1;
}

.mainHeadlines .fifthHeadline p {
  padding-top: 10px;
  color: #5a5a5a;
}

.mainHeadlines .sixthHeadline {
  width: 250px;
  position: absolute;
  top: 40vh;
  left: 36vw;
}

.mainHeadlines .sixthHeadline img {
  width: 250px;
  height: auto;
  padding-bottom: 10px;
}

.mainHeadlines .sixthHeadline a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.mainHeadlines .sixthHeadline a:hover {
  text-decoration: underline;
  color: #1380a1;
}

.mainHeadlines .sixthHeadline p {
  padding-top: 10px;
  color: #5a5a5a;
}

.mainHeadlines .secondaryHeadlines {
  /* background-color: red; */
  display: flex;
  position: absolute;
  top: 40vh;
  width: 17vw;
  left: 54vw;
  height: 33vh;
  flex-direction: column;
  justify-content: space-between;
}

.mainHeadlines .secondaryHeadlines a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.mainHeadlines .secondaryHeadlines a:hover {
  text-decoration: underline;
  color: #1380a1;
}

.mainHeadlines .tertiaryHeadlines {
  /* background-color: blue; */
  display: flex;
  position: absolute;
  top: 40vh;
  width: 17vw;
  left: 73vw;
  height: 33vh;
  flex-direction: column;
  justify-content: space-between;
}

.mainHeadlines .tertiaryHeadlines a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.mainHeadlines .tertiaryHeadlines a:hover {
  text-decoration: underline;
  color: #1380a1;
}
